.cart__table{
    width:100%;
    height:90%;
    text-align: center;
    margin: auto;
}
thead tr th{
    padding-bottom:20px;
    border-bottom:1px solid #ebebeb;
}
table tbody{
    padding:auto;
  color: #1c1c1c;
  font-size: 18px;
}
.cart_banar img{
  /* background-image:url('../imgs/banar/details-hero.jpg'); */
  height:80%; 
  width:100%;
  border:1px solid red;
}

.cart__table table{
    /* border:2px solid red; */
   width: 80%;
   margin: auto;
   border: 2px solid black;
   padding: 20px;
}


.cart__item img{
    width:10px;
    height:40px;
}
.shoping__product,.cart__item img{
    float:left;
}

.product-qty input,.product-qty input span{
    border:none;
    text-align: center;
    background-color:#6c6c6c70;
    width:48px;
    height:24px;

}

table tr td{
    border-bottom: 1px solid rgb(136, 133, 133);
}

table tr td h5{
    text-align: center;
    padding: auto;
    position: relative;
    top: 68px;
    font-weight: 400;
}
/* ==================================================================== */
/* ====================== cart_check ======================= */
.cart_banar{
    background-image:url(../imgs/banar/cartBanar.jpg);
    background-repeat:no-repeat;
    background-size:cover;

    height:400px;
    margin-bottom:40px;
    position: relative;
   
}

.cart__table table tfoot{
    background-color: #eee;
}
.cart_checkout td{
    height:50px;
    font-size: 20px;
    font-weight: bolder;
    font-style: normal;
    letter-spacing: 2px;
}


.cart__item img{
    width:30px;
    height:40px;
}


